# .NET
*.obj
*.bin
*.user
*.suo
*.tmp
*.jfm
*.exe
*.dll
*.pdb
*.log
*.vspscc
*.vssscc
*.pubxml
*.publishproj
*.bak
*.cache
*.dbmdl
*.pfx
*.publishsettings
ipch/
obj/
bin/
.vs/
*.userprefs
*.suo
*.docstates

# JetBrains files
.idea/
*.sln.iml
*.ipr
*.iws
